
  .slider {
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
  }
  #overview{
    word-wrap: break-word
  }

  #overview::-webkit-scrollbar {
    width:2px;
  }

  #overview::-webkit-scrollbar-thumb{
    background:white; 
  }


  #overview::-webkit-scrollbar-thumb:hover {
    background: gray; 
  }
  
  .Dright-arrow {
    position: absolute;
    top: 50%;
    right: -90px;
    font-size: 3rem;
    color: black;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .Dleft-arrow {
    position: absolute;
    top: 50%;
    left: -90px;
    font-size: 3rem;
    color: black;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }

  .button{
    direction: none;
  }

  .button.active{
    display:block;
  }